/*body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }*/
/*body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }*/
/*h1, h2, h3, h4, h5, h6{ font-size:100%;}*/
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none;}
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
body{
    overflow-x:hidden;
}

/*导航栏*/
#nav{
    margin: 0;
    padding: 0;
    /*text-align: center;*/
    /*color: white;*/
    background-color: #6950A1;
    /*background-color: #402e4c;*/
    /*border: none;*/
}
#nav ul li a{
    color: white;
    font-size: medium;
}
#nav ul li a p{
    color: black;
}
#nav .container-f{
    margin-left: 20px;
    margin-right: 20px;
}
#nav .container-f img{
    margin-top: 5px;
    margin-right: 20px;
}
#nav .container-f form .input-group{
    border: solid 1px black;
    border-radius: 2px;
}
#nav .container-f form span{
    background-color: white;
}
#nav .container-f form span a{
    color: black;
    text-decoration: none;
}
.active{
    background-color: #6950A1;
    border-bottom: solid 2px white;
}
table { border-collapse:collapse; border-spacing:0; }


/*直播*/
#bannerBg{
    margin: 0;
    padding: 0;
    background-image: url("../images/banner_bg.png");
    /*position: absolute;*/
    /*top: 50px;*/
    /*left: 0;*/
    /*z-index: -2;*/
}
#null{
    height: 30px;
}
#video1{

    width: 100%;
}
#jum{
    padding: 0;
}
#jumLeft{
    margin: 0;
    padding: 0;
}
#jumRight{
    height: 440px;
    /*background-color: #251930;*/
    background: rgba(37,25,48,0.54);
}
#jumRightName{
    margin-top: 20px;
    padding-left: 20px;
    color: white;
}
#jumRightName .col-md-4 img{
    margin-left: 10px;
    border-radius: 10px;
}
#jumRightName .col-md-8{
    padding-left: 0;

}
#jumRightName .col-md-8 h6 span,#jumRightName .row h3{
    color: #b99ad3;
}
#jumRightName #jumRightPi{
    padding-left: 15px;
}
#jum #jumBottom{
    color: white;
    background: rgba(23,21,30,0.65);
    height: 150px;
}
#jum #jumBottom .col-md-1 a img{
    padding-top: 20px;
}
#jum #jumBottom .col-md-2 a img{
    padding-top: 20px;
    padding-left: 0;
    padding-right: 20px;
}
#jum #jumBottom #jumBottom2 a img{
    float: right;
}
#jum #jumBottom .col-md-2 .hr{
    width: 100%;
    height: 4px;
    margin-top: 10px;
    background-color: #69429b;
}

/*分类栏目*/
#column{
    margin-top: 30px;
    /*background-color: yellow;*/
}
#column #column1{
    padding-left: 0;
}
/*#column .col-md-3{*/
    /*background-color: #2e6da4;*/
/*}*/
/*#column .columnRow{*/
    /*padding-left: 0;*/
    /*background-color: #2e6da4;*/
/*}*/
#column .col-md-6 p{
    /*width: 27%;*/
    padding-left: 5px;
    padding-right: 5px;
    background-color: #F9D3D4;
    color: black;
    font-size: x-large;
    line-height: 30px;
    height: 30px;
    float: left;
}
#column .col-md-5 img{
    padding-left: 0;
    padding-top: 10px;
    border-radius: 15px;
}

/*资讯与预告*/
#trailer{
    margin: 0;
    padding: 0;
    margin-top: 50px;
    background-color: #e9e0ee;
    height: 500px;
}
#trailer #trailerContent,#trailer #trailerContent3{
    /*background-color: yellow;*/
    /*height: 300px;*/
    margin-top: 40px;
}
#trailer #trailerContent1,#trailer #trailerContent3{
    /*background-color: #2e6da4;*/
    padding-left: 0;
}
#trailer #trailerContent #trailerContent2,#trailer #trailerContent3 #trailerContent22{
    /*width: 15%;*/
    margin-top: 13px;
    margin-left: 10px;
    background-color: #F9D3D4;
    color: black;
    font-size: x-large;
    /*line-height: 30px;*/
    /*height: 30px;*/
    float: left;
}
#trailer #trailerContent .col-md-6{
    padding-top: 5px;
    padding-left: 0;
}
#trailer #trailerContent .col-md-6 img{
    border-radius: 10px;
}
#trailer #trailerContent6{
    left: -23px;
}
#trailer #trailerContent5 {
     border-radius: 10px;
     background-color: white;
     /*border: solid 2px #69429b;*/
 }
#trailer #trailerContent5 .new{
    padding-top: 18px;
    padding-left: 0;
    /*background-color: #2e6da4;*/
    /*font-size: medium;*/
    /*text-align: center;*/
}
#trailer #trailerContent5 .new p,#trailer #trailerContent3 h4{
    color: black;
    font-size: medium;
    text-align: left;
}
#trailer #trailerContent5 .new span,#trailer #trailerContent3 span{
    color: #666666;
    font-size: small;
    text-align: justify-all;
}
#trailer #trailerContent5 .new p:hover,#trailer #trailerContent5 .new span:hover,#trailer #trailerContent5 .new a:hover,
#trailer #trailerContent3 h4:hover,#trailer #trailerContent3 span:hover
{
    color: #69429b;
}
#trailer #trailerContent5 .new #ul1 li{
    padding-bottom: 8px;
}
#trailer #trailerContent5 .new #ul2 li{
    padding-bottom: 4px;
}
#trailer #trailerContent5 .new #ul2 li a{
    color: #666666;
}
#trailer #trailerContent3{
    margin-left: 50px;
    /*background-color: #1b6d85;*/
}
#trailer #trailerContent3 #panelContent{
    margin-top: 20px;
    margin-left: 13px;
    background-color: white;
    border-radius: 10px;
    /*padding-top: 25px;*/
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 1px;
}
#trailer #trailerContent3 a{
    text-decoration: none;
}
#trailer #trailerContent3 .panel .panel-body{
    border: none;
    /*background-image: url("../images/zhibo1.png");*/
    /*height: 77px;*/
    /*padding-left: 10px;*/
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

}
#trailer #trailerContent3 #panelContent .panel-group .panel-heading1 {
    /*border: none;*/
    /*background-color: white;*/
    /*background-color: #dbd6ea;*/
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    margin-left: 13px;
    margin-right: 13px;
    /*margin-bottom: 0;*/
    /*margin: 0;*/
    /*padding: 0;*/
}
#trailer #trailerContent3 #panelContent .panel-group .panel-heading1 h4{
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 6px;
    /*background-color: #F9D3D4;*/
}
#trailer #trailerContent3 #panelContent .yuGao a{
    /*width: 40px;*/
    /*height: 30px;*/
    /*text-align: center;*/
    font-size: medium;
    color: white;
    background-color: #F9D3D4;
    position: relative;
    left: 190px;
    top: -28px;
    z-index: 2;
}
#attention{
    /*margin: 0;*/
    padding: 0;
    /*background-image: url("../images/attention.png");*/
    /*background-color: yellow;*/
    height: 200px;
}
#attention .row #attention4{
    padding-top: 50px;
}
#attention .row #attention44{
    text-align: right;
}
#attention #attention4 .attPhoto{
    text-align: center;
    width: 100%;
    height: 48px;
    /*background-color: #8a6d3b;*/
}
#attention #attention4 #attBtn{
    /*background-color: #3c763d;*/
    text-align: center;
    /*padding: 10px;*/
}
#attention #attention4 #attBtn .btn-lg{
    border: none;
    color: white;
    background-color: #6441a4;
    margin: 3px;
}
#hotOnline{
    margin: 0;
    padding: 0;
    background-color: #e9e0ee;
    height: 840px;
}
#hotOnline #hotOnlineContent{
    padding-top: 45px;
}
#hotOnline #hotOnlineContent .col-md-5 p{
    margin-top: 13px;
    background-color: #F9D3D4;
    color: black;
    padding-left: 0;
    margin-left: 0;
    font-size: x-large;
    float: left;
}
#hotOnline .hotOnlineContent2{
    margin-top: 10px;
    /*background-color: #2b542c;*/
    text-align: center;
}
#hotOnline .hotOnlineContent2 .col-md-4 .hotBox{
    background-color: white;
    margin: 9px;
    /*padding-left: 2%;*/
    /*padding-right: 2%;*/
}
#hotOnline .hotOnlineContent2 .col-md-4 img{
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-border-top-right-radius: 15px;
}
#hotOnline .hotOnlineContent3{
    background-color: white;
    /*padding: 0;*/
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
}
#hotOnline .hot4{
    margin: 0;
}
#hotOnline .hotOnlineContent2 h4{
    /*margin-left: 5%;*/
    /*margin-top: 8%;*/
    padding: 0;
    background-color: #F9D3D4;
    color: black;
}
#hotOnline .hotOnlineContent2 .col-md-7 .col-md-3 img{
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 25px;
}
#hotOnline .hotOnlineContent2 .col-md-7 .col-md-8 p{
    color: #848484;
    padding-top: 10px;
}

/*版尾*/
#version{
    margin: 0;
    padding: 0;
    background-color: #402e4c;
    /*height: 300px;*/
}
#version #version2{
    padding-top: 50px;
    padding-bottom: 40px;
}
#version #version2 p,#version #version2 a{
    color: white;
    opacity: 0.8;
}
#version #version2 p,#version #version2 ul{
    padding-left: 0;
    margin-left: 0;
}
#version #version2 p,#version #version2 ul li{
    text-align: left;
    padding-top: 5px;
}
#version #version2 .col-md-6{
   text-align: center;
}
#version #version2 #vp1 p{
    /*padding-right: 0;*/
    /*margin-right: 0;*/
    text-align: right;
    margin: 0;
}
#version #version2 #vp2 .vp{
    text-align: right;
    font-size: x-small;
    padding: 2px;
    margin: 0;
}
#version #version2 #vp3{
    padding-top: 20px;
    text-align: right;
}